
<div class="msg-central"></div>

<div class="add-item-form">
	<h2>Add a new item</h2>
	<%= render 'add_item_form' %>
</div>	



<div class="item-category">
<h2>Active</h2>
<div id="active" class="item-list-target"></div>
</div>


<div class="item-category">
<h2>Upcoming</h2>
<div id="upcoming" class="item-list-target"></div>
</div>

<div class="item-category">
<h2>Complete</h2>
<div id="complete" class="item-list-target"></div>
</div>